

<div class="grid-container">


    <div class=" info list-group list-group-flush ">
       
        <div class="list-group-item ">

            <ul class="list-group  list-group-horizontal">
                <li class="list-group-item border-0 d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" class="bi bi-person-vcard" viewBox="0 0 16 16">
                        <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                        <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
                    </svg>
                </li>
                <li class="list-group-item border-0">
                    <p class="mb-1 fw-bold opacity-50">CivilianID</p>

                    <small>model</small>
                </li>
               
            </ul>
           
            </div>

        <div class="list-group-item ">

            <ul class="list-group  list-group-horizontal">
                <li class="list-group-item border-0 d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                </li>
                <li class="list-group-item border-0">
                    <p class="mb-1 fw-bold opacity-50">Name</p>

                    <small>model</small>
                </li>

            </ul>

        </div>

        <div class="list-group-item ">

            <ul class="list-group  list-group-horizontal">
                <li class="list-group-item border-0 d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" class="bi bi-gender-ambiguous" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.5 1a.5.5 0 0 1 0-1h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-3.45 3.45A4 4 0 0 1 8.5 10.97V13H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V14H6a.5.5 0 0 1 0-1h1.5v-2.03a4 4 0 1 1 3.471-6.648L14.293 1zm-.997 4.346a3 3 0 1 0-5.006 3.309 3 3 0 0 0 5.006-3.31z" />
                    </svg>
                </li>
                <li class="list-group-item border-0">
                    <p class="mb-1 fw-bold opacity-50">Gender</p>

                    <small>model</small>
                </li>

            </ul>

        </div>

        <div class="list-group-item ">

            <ul class="list-group  list-group-horizontal">
                <li class="list-group-item border-0 d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" class="bi bi-cake-fill" viewBox="0 0 16 16">
                        <path d="m7.399.804.595-.792.598.79A.747.747 0 0 1 8.5 1.806V4H11a2 2 0 0 1 2 2v3h1a2 2 0 0 1 2 2v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-4a2 2 0 0 1 2-2h1V6a2 2 0 0 1 2-2h2.5V1.813a.747.747 0 0 1-.101-1.01ZM12 6.414a.9.9 0 0 1-.646-.268 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0A.9.9 0 0 1 4 6.414v1c.49 0 .98-.187 1.354-.56a.914.914 0 0 1 1.292 0c.748.747 1.96.747 2.708 0a.914.914 0 0 1 1.292 0c.374.373.864.56 1.354.56zm2.646 5.732a.914.914 0 0 1-1.293 0 1.914 1.914 0 0 0-2.707 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0 1.914 1.914 0 0 0-2.708 0 .914.914 0 0 1-1.292 0L1 11.793v1.34c.737.452 1.715.36 2.354-.28a.914.914 0 0 1 1.292 0c.748.748 1.96.748 2.708 0a.914.914 0 0 1 1.292 0c.748.748 1.96.748 2.707 0a.914.914 0 0 1 1.293 0 1.915 1.915 0 0 0 2.354.28v-1.34z" />
                    </svg>
                </li>
                <li class="list-group-item border-0">
                    <p class="mb-1 fw-bold opacity-50">Date of Birth</p>

                    <small>model</small>
                </li>

            </ul>

        </div>
        <div class="list-group-item ">

            <ul class="list-group  list-group-horizontal">
                <li class="list-group-item border-0 d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" class="bi bi-suitcase-lg-fill" viewBox="0 0 16 16">
                        <path d="M7 0a2 2 0 0 0-2 2H1.5A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14H2a.5.5 0 0 0 1 0h10a.5.5 0 0 0 1 0h.5a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2H11a2 2 0 0 0-2-2zM6 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1zM3 13V3h1v10zm9 0V3h1v10z" />
                    </svg>
                </li>
                <li class="list-group-item border-0">
                    <p class="mb-1 fw-bold opacity-50">Occupation</p>

                    <small>model</small>
                </li>

            </ul>

        </div>
        <div class="list-group-item ">

            <ul class="list-group  list-group-horizontal">
                <li class="list-group-item border-0 d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                    </svg>
                </li>
                <li class="list-group-item border-0">
                    <p class="mb-1 fw-bold opacity-50">Address</p>

                    <small>model</small>
                </li>

            </ul>

        </div>
     </div>
    <div class="item photo ">
        <img src="/img/default.jpg" class="img-fluid mb-4 " alt="...">
        <p style="font-size:15px;">Note</p>
        <div class="overflow-auto p-3 mb-3 mb-md-0 me-md-3 bg-body-tertiary w-100 note">
            test, Posibil Criminal in serie
        </div>
    </div>

    <div class="item conviction">
        <div class="overflow-auto p-3 mb-3 mb-md-0 me-md-3 bg-body-tertiary w-100 convic">
            <ul class="list-group list-group-horizontal w-100">
                <li class="list-group-item">Art.1</li>
                <li class="list-group-item">Nerespectarea atribuțiilor privind verificarea tehnică ori efectuarea reparațiilor</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
            </ul>
           
        </div>
       
       

    </div>
  
</div>